body {
  margin : 0px;
  font-family: arial, sans-serif;
}
span{
  display: inline-block;
}

#addSiteDiv {
  width: 100%;
  min-height: 8%;
  position: fixed;
  text-align: center;
  background-color: gray;
}

.main {
  width: 100%;
  min-height: 800px;
}

.sidebar {
  float: left;
  height: 100%;
  width: 20%;
  background-color: lightblue;
  margin-top: 50px;
  min-height: 800px;
}

.listOfSite {
}

#siteDisplayBox{
  width: 75%;
  margin-left: 20px;
  min-height: 800px;
  margin-top: 50px;
 
}
iframe{
  width: 100%;
  border: 0px;
  height: 100%;
  min-height: 800px;
}
ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 5px;
}
.liVersion:before{
  content: "";
  padding-right:5px;
}
